html {
  font-family: 'Josefin Sans', sans-serif;
  .sign-in-button {
    cursor: pointer;
  }
  .sign-up-button {
    cursor: pointer
  }

  header {

    display: grid;
    grid-template-columns: [free-space]10% [title] 30% [signin-signup-login-logout] 60% ;
    #signin-signup-login-logout {
      text-align: right;
    }
  }

  main {
    #todo-list-wrapper {
      text-align: center;
      #nothing-to-do {
        margin-top: 20px;
      }
      #todo-list {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        .todo {
          display: grid;
          overflow-wrap: break-word;
          grid-template-columns: [todo-text] 250px [todo-is-complete] 30px;

          .todo-text {
            text-align: left;
          }
          .todo-is-complete {
            text-align: right;
          }
        }
      }
    }
  }

  //MODALS

  .modal-wrapper {
    position: fixed;
    top: 0;
      left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
  }

  .modal-overlay {
    position: fixed;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
  }


  .modal-close-button-line {
    text-align: right;
    .modal-close-button {
      cursor: pointer;
    }
  }


  #sign-in-form {

    #username-field {

    }
    #password-field {

    }
    #sign-in-button {

    }
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #already-a-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #sign-up-form {

  }
}